* {
  margin: 0;
  padding: 0;
}
a{
  list-style: none;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background: rgba(23, 220, 199, 1);
  border-radius: 100vw;
}
/*  ===================== hero_section =====================  */
.hero_section {
  background-image: url(imgs/image\ 2.png);
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero_section a {
  margin-top: 84px;
}
.hero_section a .mobile {
  display: none;
}
.hero_section h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 120px;
}
.hero_section .arrow {
  margin: 38px 0 58px 0;
}
.hero_section h2 {
  font-family: Inter;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  color: rgba(23, 220, 199, 1);
}
.hero_section p {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(23, 220, 199, 1);
  /* margin: 0 219px auto; */
  margin-bottom: 117px;
  margin-top: 30px;
}
@media screen and (max-width: 1510px) {
  .hero_section {
    background-size: 125%;
  }
}
@media screen and (max-width: 1280px) {
  .hero_section p {
    margin: 50px 0 30px 0;
  }
}
@media screen and (min-width:100px) and (max-width: /* 1265px */767px) {
  .hero_section h1 {
    margin-top: 60px;
  }
  .hero_section .arrow {
    margin: 0;
  }
  .hero_section p {
    margin-bottom: 50px;
  }
}
@media screen and (min-width:768px) and (max-width: 965px) {
  .hero_section {
    background-size: 194%;
  }
}
.section_black {
  width: 100%;
  height: 422px;
  background-color: aquamarine;
  background-image: url(imgs/Rectangle\ 6.png);
  background-size: 100%;
}
@media screen and (max-width: 767px/* 1024px */) {
  .hero_section {
    background-image: url(imgs/image\ \(2\).png);
    background-size: cover;
  }
  .hero_section a .mobile {
    display: flex;
  }
  .hero_section a .Pc {
    display: none;
  }
  .hero_section h1 {
    font-size: 32px;
    line-height: 39px;
  }
  .hero_section h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 25px;
  }
  .hero_section p {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin: 25px 25px 30px 25px;
  }
  .hero_section .arrow {
    margin: 42px 0 54px 0;
  }
}
/* // ===================== hero_section ===================== // */
/*  ===================== section2 =====================  */
.section2 {
  background-color: #17DCC7;
  margin: -400px 57px 57px;
  border-radius: 41px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section2 h3 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(25, 25, 25, 1);
  margin-top: 97px;
}
.section2 .line {
  width: 395px;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 17px;
}
.section2 p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 46px;
}
.section2 .cards {
  margin-top: 85px;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 164px;
  padding: 0 25px 0 25px;
}
.section2 .cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid rgba(25, 25, 25, 1);
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.4);
}
.section2 .cards .card img {
  width: 74px;
  height: 74px;
  margin: 59px 0 59px 0;
}
.section2 .cards .card h4 {
  font-family: Inter;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 249px;
  margin: 0 63px 57px 64px;
  color: rgba(25, 25, 25, 1);
}
@media screen and (min-width: 768px) and (max-width:1200px
) {
  .section2 .cards {
    margin-top: 85px;
    display: grid;
    gap: 22px;
    margin-bottom: 164px;
  }
  .section2 .cards {
    padding: 0 25px 0 25px;
  }

  .section2 .cards .card h4 {
    margin: 0 5px 33px 5px
  }
}
@media screen and (max-width: 1024px) {
  .section_black {
    visibility: hidden;
  }
  .section2 h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .section2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  .section2 .cards .card img {
    width: 46px;
    height: 46px;
    margin: 41px 0 35px 0;
  }
  .section2 .cards .card h4 {
    font-family: Inter;
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 249px;
    margin: 0 39px 33px 39px;
    color: rgba(25, 25, 25, 1);
  }
  .section2 .line {
    width: 196px;
  }
}
@media screen and (max-width: 1024px) {
  .section2 {
    margin: -400px 25px 25px;
  }
  .section2 .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .section2 h3 {
    max-width: 180px;
  }
  .section2 p {
    margin: 32px 57px 0 61px;
  }
}
/*  // ===================== section2 =====================  // */
/*  ===================== section3 =====================  */
.section3 {
  margin: 0 57px 0 57px;
  display: flex;
}
.section3 .map {
  width: 649px;
  height: 874px;
  border: 5px solid rgba(23, 220, 199, 1);
  border-radius: 32px;
  overflow: hidden;
}
.section3 iframe {
  width: 649px;
  height: 874px;
}
.section3 .location {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: 65px;
}
.section3 .location img {
  width: 62px;
  height: 85px;
  margin: 0 auto;
  margin-top: 91px;
}
.section3 .location h5 {
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(25, 25, 25, 1);
  margin-top: 31px;
}
.section3 .location .line {
  width: 568px;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin: 50px 0 44px;
}
.section3 .location h6 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.section3 .location p {
  font-family: Inter;
  font-size: 31px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(25, 25, 25, 1);
  margin-top: 21px;
}
@media screen and (min-width:0px) and (max-width: 1130px) {
  .section3 {
    flex-direction: column;
  }
  .section3 .map {
    width: 100%;
  }
  .section3 iframe {
    width: 100%;

  }
  .section3 .location {
    max-width: 100%;
    margin-left: 0;
  }
  .section3 .location .line {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .section3 {
    margin: 0 25px 0 25px;
  }
  .section3 .map {
    height: 511.74px;
  }
  .section3 iframe {
    height: 511.74px;
  }
  .section3 .location img {
    width: 33px;
    height: 45px;
    margin-top: 44px;
  }
  .section3 .location h5 {
    font-size: 29px;
    line-height: 35px;
  }
  .section3 .location h6 {
    font-size: 24px;
    line-height: 29px;
  }
  .section3 .location p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}
/*  // ===================== section3 =====================  // */
/*   ===================== section4 =====================   */
.section4 {
  margin: 202px 0 0 57px;
  display: flex;
  overflow: hidden;
}
.section4 .cotiner {
  margin-left: 79px;
}
.section4 .title {
  display: flex;
  align-items: center;
  margin-top: 27px;
}
.section4 .title h2 {
  margin-left: 17px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.section4 .title img {
  width: 171px;
  height: 90px;
}
.section4 .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin: 39px 0 39px;
  width: 95%;
}
.section4 .REVIEWS .review .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section4 .REVIEWS .review .data .Kreis {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: rgba(209, 247, 231, 1);
  color: rgba(0, 0, 0, 1);
  padding: 17px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
}
.section4 .REVIEWS .review .data .Kreis1 {
  padding: 14px 10px 14px 12px;
}
.section4 .REVIEWS .review .data .Nmae {
  margin-left: 19px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section4 .REVIEWS .review .data .left {
  display: flex;
  align-items: center;
}
.section4 .REVIEWS .review .data .date {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 10px;
}
.section4 .REVIEWS .review img {
  margin-top: 39px;
  width: 103px;
  height: 25px;
}
.section4 .REVIEWS .review h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 18px 0 10px 0;
  color: rgba(0, 0, 0, 1);
}
.section4 .REVIEWS .review p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 105px;
}
.section4 .REVIEWS .mob-iphone {
  display: none;
}
@media screen and (min-width:0px) and (max-width: 1310px) {
  .section4 > img:first-child{
    width: 500px;
  }
  .section4 .cotiner {
    margin-left: 25px;
  }
  .section4 .REVIEWS .mob-iphone {
    display: block;
    width: 349px;
    height: 349px;
  }
  .section3 .location .line{
    width: 95%;
  }
}
@media screen and (min-width:0px) and (max-width: 1310px) {
  .section4 > img:first-child{
    width: 329.54px;
  }
}
@media screen and (min-width:0px) and (max-width:1024px/* 1224px */) {
  .section4 {
    flex-direction: column;
    margin-left: 0;
  }
  .section4 .cotiner {
    margin-left: 25px;
  }
  .section4 .line {
    width: 95%;
  }
  .section4 img {
    width: 529.54px;
    height: 885.08px;
    margin: 0 auto;
  }
}
@media screen and (max-width: /* 1024px */1224px) {
  .section4 img {
    width: 329.54px;
  }
  .section4 .title {
    flex-direction: column;
  }
  .section4 .title h2 {
    margin-top: 20px;
  }
  .section4 .title h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .section4 .REVIEWS .review .data .date {
    font-size: 12px;
    line-height: 14px;
  }
  .last-line {
    display: none;
  }
  .section4 .title img {
    width: 171px;
    height: 90px;
  }
}
  .section4 .title img {
    width: 171px;
    height: 90px;
  }
@media screen and (max-width: 450px) {
  .section4 .REVIEWS .review .data .Kreis {
    display: none;
  }
  .section4 .REVIEWS .review .data .Nmae {
    margin-left: 0;
  }
}
/*  // ===================== section4 =====================  // */
/*   ===================== section5 =====================   */
.section5 {
  background: rgba(25, 25, 25, 1);
  margin-top: 118px;
  display: flex;
  flex-direction: column;
}
.section5 h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(23, 220, 199, 1);
  padding-top: 63px;
  margin-bottom: 37px;
}
.section5 .line {
  height: 1px;
  width: 549px;
  background-color: rgba(23, 220, 199, 1);
  margin: 0 auto;
}
.section5 form {
  margin-top: 63px;
}
.section5 form input{
  outline: #17DCC7;
}
.section5 select {
  background-color: rgba(25, 25, 25, 1);
  color: #fff;
  padding: 10px 0 16px 30px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 11px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 200px;
  margin-bottom: 45px;
}
.section5 .radios {
  display: flex;
}
.section5 .continer {
  display: flex;
}
.radio {
  margin: 15px;
  width: 28px;
  height: 28px;
}
.section5 .radio1 {
  margin-left: 100px;
}
.section5 .radio3 {
  margin-left: 200px;
}
.section5 label,
.section5 h4 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 45px;
}
.continerx{
  display: flex;
  align-items: center;
  flex-direction: row;
}
#number {
  background-color: rgba(25, 25, 25, 1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 421px;
  height: 65px;
  margin-left: 200px;
}
input[type='radio'] {
  margin-top: 0;
  accent-color: #17DCC7;
}
@media screen and (min-width:0px) and (max-width: 1310px) {
  .section5{
    padding-bottom: 50px;
  }
  .section5 .continer {
    justify-content: center;
  }
  .section5 .continer .PC {
    display: none;
  }
  .section5 form {
    margin-left: 25px;
  }
  .section5 select {
    margin-left: 200px;
  }
}
@media screen and (max-width:1024px) {
  .continerx{
    flex-direction: column;
  }
  .section5 select {
    margin-left: 0;
  }
  .section5 .radio1 {
    margin-left: 150px;
  }
  #number {
    width: 296px;
    height: 52px;
  }
  .section5 label,
  .section5 h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  .section5 .continer {
    margin: 0 auto;
  }
  .section5 h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
.continer-radios {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section5 .line {
    width: 90%;
  }
  .radios {
    display: block;
  }
  .continer-radios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section5 .radio1,
  .section5 .radio3,
  #number {
    margin-left: 0;
  }
}
/*  // ===================== section5 =====================  // */
/*  ===================== media mobile screen replace images =====================   */
.mobile{
  display: none;
}
@media screen and (max-width: 1024px){
   .large_screen{
    display: none;
  }
   .mobile{
    display: block;
  }
}
/*  // ===================== media mobile screen replace images =====================  // */